.title {
    color: #7B68EE;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2rem;
    text-align: left;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.repo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color:#7B68EE;
    font-weight: bold;
    font-size: 1.2rem;
    width: 23rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.link {
    text-decoration: none;
}

.each-repo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
}

.btn {
    padding: 0.5rem 1.5rem;
    color:#7B68EE;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #7B68EE;
    background: none;
    transition: 0.3s;
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-5px);
    color:#7B68EE;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}