.error-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 87vh;
}

.error-details{
  color:#7B68EE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 35rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.error-image{
   width: 30rem;
}

.home-btn {
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    color:#7B68EE;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #7B68EE;
    background: none;
    transition: 0.3s;
}

.home-btn:hover {
    cursor: pointer;
    transform: translateY(-5px);
}
  
